{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="SouBQwD-vjayqmjz-ohaEt6C0UI-hraX1AfZzaCPrjU" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <link rel="stylesheet" href="{% static 'css/bootstrap_customized'%}.css">
  <link rel="stylesheet" href="{% static 'css/my_style.css'%}">
  <title>Text to CHAT Conversion Tool</title>
</head>

<body>

<!-- Navigation bar -->
  <nav class="navbar navbar-expand-sm navbar-dark my_logo">
    <a class="navbar-brand">
      <img src="{% static 'img/TCCT.png'%}" width="40" height="40" class="d-inline-block align-top" alt="">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->

    <span class="navbar-text" style="color: #62ac3d">
      Text to CHAT Conversion Tool
    </span>


    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal">About</a>
          <a class="dropdown-item" href="{% static 'readme/readme.pdf'%}" target="_blank">Readme</a>
        </div>
      </li>
    </ul>

  </nav>
  <div class="col-xs-12" style="height:20px;"></div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>TCCT</p>
          <p>Text to CHAT Conversion Tool</p>
          <p>Author: Łukasz Stolarski</p>
          <p>January 2017</p>
        </div>
      </div>
    </div>
  </div>




<!-- Radiobuttons -->
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6 text-center">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked>
          <label class="custom-control-label" for="customRadioInline1">Write text</label>
        </div>
      </div>
      <div class="col-6 text-center align-self-center">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">Load file</label>
        </div>
        <label class="btn btn-secondary btn-sm" id="load_button_label">Load txt file<input type="file" id="load_button" accept='text/plain' onchange='openFile(event)' hidden disabled>
        </label>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-6 text-center"></div>
      <div class="col-sx-1" id="loaded_text_label">
      </div>
    </div>
    <div class="col-xs-12" style="height:20px;"></div>

<!-- Input text window -->
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
      </div>
    </div>
    <div class="col-xs-12" style="height:20px;"></div>

<!-- Start button and results -->
    <div class="row justify-content-center">
      <div class="col-sx-1">
        <button type="button" class="btn btn-primary btn-sm" id="start_button">START</button>
      </div>
    </div>

    <div class="col-xs-12" style="height:20px;"></div>

    <div class="row justify-content-center">
      <div class="col-sx-1" id="results_label">
        <p>Please wait, processing...</p>
      </div>
      <div class="spinner-border text-primary" role="status" id="the_spinner">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.3.1.slim.min.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/my_js.js'%}"></script>
</body>

</html>
